.todo {
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #fff;
  background: #042f38;
  transition: 0.5s;
}
.todo:hover {
  transform: translate(0.2em, -0.2rem);
}
