.userCard{
    width: 15rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
    color: #f5f5f5;
    background: #0a0a13;
    transition: 0.5s;
}
.userCard:hover{
    cursor: pointer;
    background: #1f1f38;
    transform: scale(1.05);
}
.userCard p{
    font-size: 1rem;
}
.userCard span {
    font-weight: 700;
}

@media screen and (max-width: 1440px) {
    .userCard{
        width: 12rem;
        height: 12rem;
    }
    .userCard p{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 768px) {
    .userCard{
        width: 10rem;
        height: 10rem;
        text-align: center;
    }
}
